.chat-space-side
  .side-header
    .side-header__logo
      %p.side-header__logo__user-name masa
      .side-header__logo__menu
        .side-header__logo__menu__pen
        = link_to "#" do
          = icon('far', 'edit')
        .side-header__logo__menu__gear
        = link_to "#" do
          = icon('fas', 'cog')
  .groups
    .group
      %p.groups__group-name techcamp
      %p.groups__group-message まだメッセージがありません